:root {
   --primary-text-color:  #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
}
ul {
 list-style: none;   
}

.body {
    color: var(--primary-text-color);
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif;
}
    h1,
    h2,
    h3 {
     font-family: Roboto, sans-serif;
    }
    

.logo {
    color: #000000;
    font-family: Raleway; cursive;
}


/* site nav */
.site-nav a {
    color:var(--title-text-color);
}
.site-contacts a {
color:var(--primary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-text-color);
}
.site-contacts a:hover,
.site-contacts a:focus {
    color: var(--accent-text-color);
}
.section-title {
    color:var(--title-text-color);
}
.hero-title {
    color: #FFFFFF;
}
/* Features */
.Features .title {
    color:var(--title-text-color);
}
/* button */
.button {
color: #FFFFFF;
background-color: var(--accent-text-color);
}
.site-nav .link.current{
    color: var(--accent-text-color);
}

/* колір тексту логотипу #000000 */
/* колір додаткового тексту блакитний #2196F3 */
/* колір додаткового тексту #212121 */
/* колір тексту сторінки #757575 */
/* колір заголовка героя #FFFFFF */
/* колір фону особливостей #F5F4FA */
/* колір фону героя  та футера #2F303A */

/* Стилі Портфоліо*/ 
.site-nav-portfolio li{
    color: var(--title-text-color);
    background-color:#F5F4FA;
}
.site-nav-portfolio li:hover,
.site-nav-portfolio li:focus {
    color: #FFFFFF;
    background-color: var(--accent-text-color);
}