.body {
    color: #757575;
    background-color: #F5F5F5;
}
.logo {
    color: #000000;
}
ul {
 .list-style: none;   
}

/* site nav */
.site-nav {
    color:#212121;
}
.site-contacts {
color:#757575;
}

/* колір тексту логотипу #000000 */
/* колір додаткового тексту блакитний #2196F3 */
/* колір додаткового тексту #212121 */
/* колір тексту сторінки #757575 */
/* колір заголовка героя #FFFFFF */
/* колір фону особливостей #F5F4FA */
/* колір фону героя  та футера #2F303A */